$background-color: #f4f5fc;
$primary-color: #4f78f9;
$secondary-color: radial-gradient(
  circle 757px at 14.6% 44.8%,
  rgba(60, 77, 115, 1) 27.7%,
  rgba(60, 77, 115, 1) 95.9%
);
$primary-text: #444344;
$light-color: #e9e8f2;
$secondary-text: #6f747e;
$white-color: #fff;
$red-color: #f87474;
